flask/*
*.swp
*.swo
*.swn
*.swm
*.pyc
.DS_Store
config.py
NE_database_maintenance.py
SoCal_database_maintenance.py
global_database_maintenance.py
North_Carolina_database_maintenance.py
reloading_database.txt
