<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<html>
  <head>
    {% if title %}
    <title>{{ title }} - Matchstats</title>
    {% else %}
    <title>Matchstats</title>
    {% endif %}
  </head>
  <body>
    <!-- header linking to different web features, across all pages on site -->
    <div>Matchstats:
      <a href="{{ url_for('index') }}">Home</a>
      | <a href="{{ url_for('browse_tournaments') }}">Browse Tournaments</a>
      | <a href="{{ url_for('browse_users') }}">Browse Users</a>
      | <a href="{{ url_for('browse_regions') }}">Browse Regions</a>
      | <a href="{{ url_for('browse_characters') }}">Browse Characters</a>
      | <a href="{{ url_for('head_to_head') }}">Head to Head</a>
      | <a href="{{ url_for('user_create') }}">Create User</a>
      | <a href="{{ url_for('set_create') }}">Create Set</a>
    <div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
