<!-- A list of all Region objects in the database -->
{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	<div class="panel-heading">
  	<h2><b> Browse All Regions </b></h2>
  </div>

  <div class="panel-body">
  	<table class="table bootstrap-datatable table-hover">
  		<thead>
  			<tr>
  				<th class="col-sm-4 text-center"><h4><b>Region</b></h4></th>
  				<th class="col-sm-4 text-center"><h4><b>Population</b></h4></th>
  				<th class="col-sm-4 text-center"><h4><b>Tourney Count</b></h4></th>
  			</tr>
  		</thead>

  		<tbody>
			  <!-- regionlist is a list of Region objects -->
			  {% for Region in regionlist %}
			  	<tr>
			  		<td class="col-sm-4 text-center">
			  			<a href="{{ url_for('region', region=Region.region) }}"><b>{{Region.region}}</b></a>
			  		</td>

			  		<td class="col-sm-4 text-center">
			  			<b>{{Region.users|length}}</b>
			  		</td>

			  		<td class="col-sm-4 text-center">
			  			<b>{{Region.tournaments|length}}</b>
			  		</td>
			  	</tr>
			  {% endfor %}
			</tbody>
		</table>
	</div>

	</div>
</div>
{% endblock %}
