{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="panel panel-default">
	<div class="panel-heading">
  	<h2><b>Browse All Users</b></h2>
  </div>

  <!-- "Table" Column Titles -->
  <div class="panel-body">
	<table class="table bootstrap-datatable table-hover">
	  <thead>
	    <tr>
        <th><h4>User</h4></th>
	      <th><h4>Region</h4></th>
	      <th><h4>Main</h4></th>
	      <th><h4>Secondaries</h4></th>
	    </tr>
	  </thead>
	  <tbody>
		  <!-- print all items in list userlist (currently containing all users) -->
		  {% for user in userlist %}
		    {% include 'user_display.html' %}
		  {% endfor %}
	  </tbody>
	</table>
	</div>

	</div>

  
</div>
{% endblock %}
