<!-- A list of recent tournaments -->
{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	<div class="panel-heading">
		<h2><b> Browse Tournaments </b></h2>
	</div>

	<div class="panel-body">
		<table class="table bootstrap-datatable table-hover">
			
			<tbody>
				{% for tournament in tournamentlist %}
				<tr>
						<td><b><a href="{{ url_for("tournament", tournament=tournament)}}">{{tournament}}</a></b></td>
				</tr>
					{% endfor %}
			</tbody>
		</table>
	</div>

	</div>
</div>

{% endblock %}
