{% extends "base.html" %}
{% block content %}
  <h1>Browse All Users</h1>
  <!-- print all items in list userlist (currently containing all users) -->
  {% for user in userlist %}
    <div><p>
      <b> <a href="{{ url_for("user", tag=user.tag) }}">{{ user.tag }}</a> 
       | <a href="{{ url_for("view_region", region=user.region) }}">{{user.region}}</a>
       | {{ user.main }} </b>
       <!-- prints User representation in HTML given a User object, with route hyperlink to User profile -->
    </p></div>
  {% endfor %}
{% endblock %}
