<!-- A list of recent tournaments -->
{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	<div class="panel-heading">
		<h2> Browse Tournaments </h2>
	</div>

	<div class="panel-body">
		<table class="table bootstrap-datatable">
			<tbody>
				{% for tournament in tournamentlist %}
					<div><a href="{{ url_for("tournament", tournament=tournament)}}">{{tournament}}</a></div>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>
</div>

{% endblock %}
