<!-- A list of tournaments in the database-->
{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
	<div class="panel-heading">
		<h2><b> Browse Tournaments </b></h2>
	</div>

	<div class="panel-body">
		<table class="table bootstrap-datatable table-hover">
			<thead>
				<tr>
					<th class="text-center"><h4><b>Date</h4></b></th>
					<th class="text-center"><h4><b>Tournament</h4></b></th>
					<th class="text-center"><h4><b>Entrants</h4></b></th>
				</tr>
			</thead>

			<tbody>
				{% for tournament in tournamentlist.items %}
					{% include 'tournament_display.html' %}
				{% endfor %}
			</tbody>
		</table>

		<!-- Navigating the paginated display -->
		<div class="text-center"><b>
		  {% if tournamentlist.has_prev %}<a href="{{ url_for('browse_tournaments', page=tournamentlist.prev_num) }}">&lt;&lt; Previous Page</a>{% endif %}

		  {% if tournamentlist.has_prev and tournamentlist.has_next %}
		  	|
		  {% endif %}

		  {% if tournamentlist.has_next %}<a href="{{ url_for('browse_tournaments', page=tournamentlist.next_num) }}">Next Page &gt;&gt;</a>{% endif %}
		</b></div>

	</div>

	</div>
</div>

{% endblock %}
