{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="panel panel-default">
	<div class="panel-heading">
  	<h2><b>Browse {{current_region}} Players</b></h2>
  </div>
  <div class="panel-body">
	<table class="table bootstrap-datatable table-striped table-hover">
	  <thead>
	  	{% include 'user_display_head.html' %}
	  </thead>
	  
	  <tbody>
		  <!-- userlist is a Pagination object -->
		  {% for user in userlist.items %}
		  	{% with %}
		  		{% if current_region == "Global" %}
		  			{% set rank = user.trueskills[0].rank %}
		  		{% else %}
		  			{% set rank = user.trueskills[1].rank %}
		  		{% endif %}
		    	{% include 'user_display.html' %}
		    {% endwith %}
		  {% endfor %}
	  </tbody>
	</table>

		<!-- Navigating the paginated display -->
	<div class="text-center"><b>
		<div class=pagination>
		{%- for page in userlist.iter_pages() %}
	    	{% if page %}
	    		{% if page != userlist.page %}
	        		<a href="{{url_for('browse_users', region=g.region, page=page)}}">{{ page }}</a>
	    		{% else %}
	        		<strong>{{ page }}</strong>
	      		{% endif %}
	    	{% else %}
	      		<span class=ellipsis>…</span>
	    	{% endif %}
	  	{%- endfor %}
	  	</div>
	</b></div>
  </div>
</div>
{% endblock %}
