{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
	  		<h2><b>Browse All Characters</b></h2>
			</div>

		<div class="panel-body">
			<table class="table bootstrap-datatable table-hover">
				<thead>
					<tr>
						<th></th>
					</tr>
				</thead>

		  	<!-- simply prints all characters (strings) in characterlist -->
			  {% for character in characterlist %}
			    <tr>
			    	<td class="text-center">
			    		<a href="{{ url_for("character", character=character) }}"><b>{{character}}</b></a>
							{% set character_name = character %}
							{% include 'char_icon.html' %}
						</td>
			    </tr>
			  {% endfor %}
			</table>
		</div>
	</div>
{% endblock %}