{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>
      {{character}} ({{g.region}})
      {% set character_name = character %}
      {% include 'char_icon.html' %}
    </h1>

    <h2><b>Players: 
      {% if matching_users.total %} 
        <b>{{matching_users.total}}</b>
      {% else %}
        <b>0</b>
      {% endif %}
    </h2>
  </div>

  <!-- Table for Users who main character -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><b>{{g.region}} {{character}} Players</b></h2>
    </div>

    <div class="panel-body">
      <table class="table bootstrap-datatable table-striped table-hover">
        <thead>
          {% include 'user_display_head.html' %}
        </thead>

        <tbody>
          {% for user in matching_users.items %}
            {% with %}
              {% if current_region == "Global" %}
                {% set rank = user.trueskills[0].rank %}
              {% else %}
                {% set rank = user.trueskills[1].rank %}
              {% endif %}
              {% include 'user_display.html' %}
            {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    
    <div class="text-center"><b>
      <!-- Pagination Navigation -->
      <div class=pagination>
      {%- for page in matching_users.iter_pages() %}
          {% if page %}
            {% if page != matching_users.page %}
                <a href="{{url_for('character', character=character, page=page)}}">{{page}}</a>
            {% else %}
                <strong>{{page}}</strong>
              {% endif %}
          {% else %}
              <span class=ellipsis>…</span>
          {% endif %}
        {%- endfor %}
      </div>
    </b></div>

    </div>
  </div>
</div>
{% endblock %}
