<!-- Head to head page where one may begin querying head to head  -->

{% extends "base.html" %}

{% block content %}
  <h1>View Head to Head Set History Between Two Players</h1>
  <form action="" method="post" name="head_to_head">
    {{ form.hidden_tag() }} <!-- this template argument will get replaced with hidden field that enables CSRF prevention in config. -->

    Enter the first player's tag: {{ form.user1(size=30) }} <br>
    <br>
    Enter the second player's tag: {{ form.user2(size=30) }} <br>

    {% for error in form.user1.errors or form.user2.errors %}
      <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>

    <p><input type="submit" value="Look up Head to Head"></p><br>

    {% if tag1 != None and tag2 != None %} 
      <h2>Head to Head between {{ tag1 }} ({{ user1_set_win_count }} - {{ user2_set_win_count }}) {{ tag2 }}</h2>

      <h3> Stats </h3>
      <table>
        <tr>
          <td><b>Total Sets Played: {{ user1_set_win_count + user2_set_win_count }}</b></td>
          <td>{{ tag1 }} [{{ user1_set_win_count }}-{{ user2_set_win_count }}] vs {{ tag2 }}</td>
        </tr>
        <tr>
          <td><b>Total Matches Played: {{ h2h_matches_played|length }}</b></td>
          <td>{{ tag1 }} [{{ user1_match_win_count }}-{{ user2_match_win_count }}] vs {{ tag2 }}</td>
        </tr>
        <tr>
          <td><b>Stage Record: </b></td>
          <td>Battlefield: </td>
          <td>Dream Land: </td>
          <td>Final Destination: </td>
          <td>Fountain of Dreams: </td>
          <td>Pokemon Stadium: </td>
          <td>Yoshi's Story: </td>
        </tr>
        <tr>
          <td><b>Character Record: </b></td>
        </tr>
      <table>

      <h2> Set History </h2>

      <!-- If variable set is empty, Jinja2 defaults to printing empy string; this is the case when viewing the form without having selected a head to head matchup -->
      {% for set in h2h_sets_played %}
  	    {% include 'set.html' %}
      {% endfor %}
      
    {% endif %}
</form>

{% endblock %}
