{% extends "base.html" %}

{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1>Welcome to SmashStats!</h1>
    <p>
      Smashstats tracks the tournament performances of Super Smash Bros. Melee players of all levels. The web app parses data from tournament brackets and presents selected statistics of tournament attendance, set records, and head to head histories between players. <a href="{{ url_for('about') }}"><b>Learn More</b></a>
    </p>
  </header>

  <hr>

  <div class="col-sm-6 hero-feature">
  <div class="thumbnail">
  	<div class="caption scroll400">
	  	<h4><b>Recent Updates</b></h4>
	  	<ul>
        <b>May 12, 2016</b>
        <li>SmashStats v2.7 is here! Read more about it <b><a href="https://medium.com/smashstats/smashstats-2-7-f46741640a66#.z6ysxlwks">here</a><b></li>
	  	</ul>
  	</div>
  </div>
  </div> 

  <div class="col-sm-6 hero-feature">
  <div class="thumbnail">
  	<div class="caption scroll400">
	  	<h4><b>Recently Added Tournaments</b></h4>
	  	<ul>
	  		{% for tournament_header in tournament_headers %}
	  			<li><a href="{{url_for('tournamentHeader', tournament_name=tournament_header.name)}}"><b>{{tournament_header.name}}</b></a></li>
	  		{% endfor %}
	  	</ul>
  	</div>
  </div>
  </div> 
</div>
{% endblock %}
