{% extends "base.html" %}

{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1>Welcome to SmashStats!</h1>
    <p>
      Smashstats tracks the stats of tournament-level players in the Super Smash Bros. Melee scene. It parses data from tournament brackets and neatly presents selected statistics of tournament attendance, set records, and head to head histories between players. <a href="{{ url_for('about') }}"><b>Learn More</b></a>
    </p>
  </header>

  <hr>

  <div class="col-sm-6 hero-feature">
  <div class="thumbnail">
  	<div class="caption scroll400">
	  	<h4><b>Recent Updates</b></h4>
	  	<ul>
        <b>September 4, 2015</b>
        <li>The database will be updated weekly, overnight on Wednesdays. All tournament brackets in the queue will be uploaded, as well as changes to player information.</li>
        <br>

        <b>August 22, 2015</b>
        <li>Regions SoCal, North Carolina added!</li>
        <br>

	  		<b>August 11, 2015</b>
	  		<li>Sets between players of the same region no longer updates global TrueSkill rating.</li>
	  		<li>Number of sets played is a bigger factor in determining TrueSkill rating.</li>
	  	</ul>
  	</div>
  </div>
  </div> 

  <div class="col-sm-6 hero-feature">
  <div class="thumbnail">
  	<div class="caption scroll400">
	  	<h4><b>Recently Added Tournaments</b></h4>
	  	<ul>
	  		{% for tournament_header in tournament_headers %}
	  			<li><a href="{{url_for('tournamentHeader', tournament_name=tournament_header.name)}}"><b>{{tournament_header.name}}</b></a></li>
	  		{% endfor %}
	  	</ul>
  	</div>
  </div>
  </div> 
</div>
{% endblock %}
