{% extends "base.html" %}

{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1>Welcome to SmashStats!</h1>
    <!-- <div><h3><a href="{{url_for("browse_tournaments")}}">Browse Recent Tournaments</a></h3></div> -->
    <p>
      Smashstats tracks the stats of tournament-level players in the eSports Super Smash Bros. Melee scene. It parses data from tournament brackets and neatly presents statistics of tournament attendance, comprehensive set records, and head to head histories between players. <a href="{{ url_for('about') }}"><b>Learn More</b></a>
    </p>
  </header>
  <hr>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 10, 2015 </h5>
  <ul>
    <li> /tournament page now displays all placings of users within that tournament </li>
    <li> tournament page displays placements of users within table with links </li>
    <li> now sanitizes Users when parsing Challonge placings (even before parsing sets). Tournament model fully integrated </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 9, 2015 </h5>
  <ul>
    <li> refined Tournament model and connected with Users and Sets </li>
    <li> successfully joined Tournament and User models </li>
    <li> established Set and Tournament relationship, parse_challonge now queries for a true Tournament object to fill its fields </li>
    <li> /tournament pages now take and display true Tournament object info, along with Sets </li>
    <li> changed all __str__ functions to __unicode__ in models.py </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 8, 2015 </h5>
  <ul>
    <li> added Tournament model, and established relationship with Set. no database migration yet </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 7, 2015 </h5>
  <ul>
    <li> expanded recognized top player substrings to top100 in MIOM 2013 Rankings </li>
    <li> more bugtesting for recognized players; heroku checkpoint </li>
    <li> reformatted user.html profile page, standardized tables </li>
    <li> added route /about and included that information in /index </li>
    <li> created parse_challonge_standings.py to parse standings info Challonge </li>
    <li> created parse_challonge_info.py to parse general info from a given tournament from Challonge </li>
    <li> parse_challonge_info.py now accounts for all levels of information available, and strips spaces and line breaks </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 6, 2015 </h5>
  <ul>
    <li> fixed bug in which parse_challonge.py would break if a DQ score was detected </li>
    <li> updated "top_player_regex_raw_list" to automatically generate regex expressions given top player tags</li>
    <li> /browse_users now uses pagination, displaying 25 Users per page </li>
    <li> implemented page navigation for browse_users.html </li>
    <li> readjusted navbar search form size and position </li>
    <li> Unicode characters in tags now parseable in /parse_challonge. __str__ functions for models Set and User now encodes variable non-integer values into Unicode, meaning that model columns now support Unicode strings </li>
    <li> regex expressions now recognize different spellings of tags and simple tags </li>
    <li> working as intended soft fix for unrecognized Tournament names in parse_challonge.py </li>
    <li> expanded recognized top player substrings to top 100 in MIOM 2014 Top 100 Rankings </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 5, 2015 </h5>
  <ul>
    <li> restyled buttons, made tables condensed, fixed footer </li>
    <li> implemented functions to modularize regex expressions in sanitize </li>
    <li> parse_challonge now shouldn't automatically take DQ scores </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 4, 2015 </h5>
  <ul>
    <li> overflow text now breaks into new lines. templates improved </li>
    <li> Set.tournament now assigned "Non-Tourney" if no tourney name given </li>
    <li> remodeled /search_results page to display results in table </li>
    <li> changed bootstrap styles, and added some colors </li>
    <li> added more coloring and styling </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 3, 2015 </h5>
  <ul>
    <li> added page /browse_tournaments to display list of tournaments routing to their display pages /tournament </li>
    <li> updated display page for /tournament, and linked /browse_tournaments from /index </li>
    <li> added footer to /base to appear in all templates </li>
    <li> added search function for Users into nav bar </li>
    <li> styled search function in nav bar </li>
    <li> search function will also automatically search tournaments by name </li>
    <li> styled /browse_tournaments, and cleaned up templating </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 2, 2015 </h5>
  <ul>
    <li> editing Set now redirects to editing Matches if indicated on the form, depending on how many matches are in the set. </li>
    <li> implemented bootstrap templating to the templates</li>
    <li> templates now are enclosed in containers; Set and User displayed tabulated </li>
    <li> prettified templates, Stats now displayed better in /head-to-head </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> July 1, 2015 </h5>
  <ul>
    <li> ./make_same_user in models transfers Set data from one User to another and deletes the transferrer, essentially merging Users. /user (profile) now displays overall Set stats </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 30, 2015 </h5>
  <ul>
    <li> modified invalidScore in Set model and views.py to let special set score of (1-0) pass </li>
    <li> implemented new database designed to store data from setlists in the format parse_challonge.py gives. Also copied functions from view and put them in models </li>
    <li> successfully transferred and displayed data in new database </li>
    <li> parsing is now done not using substrings but tag ids. Compiled all functioning methods into parse_challonge, and successfully tested importing to database </li>
    <li> updated filtering for valid scores in /set_create </li>
    <li> added BooleanField to /set_create which skips match submission if checked. Currently, it defaults to expecting match information </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 29, 2015 </h5>
  <ul>
    <li> /set_create now accepts non-standard integers for DQ ('-1'), Win ('W') and Loss ('L') as Set scores. Set score checking accounts for this. </li>
    <li> implemented h2h_stats_functions.py in views to optimize /head_to_head </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5>June 28, 2015 </h5>
  <ul>
    <li> created and finished testing helper functions for stats in h2h_stats_functions.py </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5>June 27, 2015 </h5>
  <ul>
    <li> /head_to_head now displays total match count with win# for each User </li>
    <li> edited issues pointed out in collaborator's code review </li>
    <li> added many functions for finding statistics in /head_to_head, currently in h2h_stats_functions.py </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 26, 2015 </h6>
  <ul>
    <li> in /edit_user, add_secondaries fields only allow selection of non-main and non-secondary characters, and remove_secondaries fields only allow selection of User secondaries characters </li>
    <li> user.html (user profile) now displays in order: tag, region, main, secondary. (idiomatic of User) </li>
    <li> revised and optimized User-Character functions add_secondaries_list and remove_secondaries_list. they also screen better for non-Character inputs </li>
    <li> sets without tournament info now automatically display "Non-Tourney" (set.html) </li>
    <li> match_submit.html now only takes set winner_tag and loser_tag ids as valid choices when declaring match winner and loser, using a dynamic choices SelectField </li>
    <li> fix bug in which set_create fails if winner and loser id of the respective Users does not exist (if Users don't exist). working to properly display Users who lack attributes </li>
    <li> Users who lack full attributes display properly now due to template magic. additionally, users are now displayed differently based on how many secondaries they have (also templating work) </li>
    <li> fixed routing bug in which Users without regions crashed /browse_region. views.py now checks if user.region exists before adding it to the regionlist </li>
    <li> added character routes to secondaries displayed via user_display.html sub-template. User.html (profile) now routes to the appropriate /user_edit page </li>
    <li> implemented /edit_set route, and associated forms and templates. Works reasonably well, but no support for editing Matches yet </li>
    <li> optimized /set_create and /set_edit, created helper function and identical Set function to check if Set scores are invalid </li>
    <li> in /set_edit, max_match_count is an IntegerField rather than SelectField, and is populated automatically </li>
    <li> in /set_edit, new Users automatically created if User tags change to an unrecognized User. fixed bugs regarding creating new Users automatically </li>
    <li> fixed bugs regarding creating new Users automatically </li>
    <li> /head_to_head now displays overall win record between Users. revised functions in /head_to_head and associated templates </li>
    <li> reworked Set to display all Matches using an indexed for loop. reformatted Head to Head template to display relevant information at the top before the Set History </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 25, 2015 </h5>
  <ul>
    <li> implemented Character-User functions from Character class, and updated unit test (tests.py) </li>
    <li> implemented creation of secondaries column from /create_user when creating User. Hardcoded database of Character objects </li>
    <li> revised user_create form to allow secondaries character selection using checkboxes. Performed tests and bugfixing for secondaries and revised other templates </li>
    <li> /create_user now doesn't add main character to secondaries if that character is selected in both user_main and user_secondaries </li>
    <li> created sub-template user_display and revised relevant templates to include it </li>
    <li> /character now displays Users who secondary the character </li>
    <li> sub-template user_display now includes list of user's secondaries </li>
    <li> implemented conditional checking for User (variable) existence indirectly in character.html </li>
    <li> implemented conditional checking for User (variable) existence indirectly in region.html. Created clear_database.py, which clears the database of all non-Character objects. </li>
    <li> fixed bug on /character in which nonplayable secondary Characters caused the database to crash. Did cleanup work on various templates </li>
    <li> added tournament column to Set model, and updated templates to display it when representing a set if tournament info is available </li>
    <li> added /tournament route that takes parameter tournament, and will query and display all sets for that given tournament </li>
    <li> added 'tournament.html' which displays all sets from a given tournament. updated other templates to include Set.tournament when relevant and route to it </li>
    <li> revised /set_create and form to take in tournament information </li>
    <li> added /edit_user template to edit user, for User.tag, User.main, User.regions </li>
    <li> added addition/removal of secondaries to /edit_user, defined User functions for processing lists of Characters </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 24, 2015 </h5>
  <ul>
    <li> NOTE: large bug: werkzeug.routing.BuildError, when viewing /browse_users and /browse_regions when it claims that the route to /region/region when displaying a user (tag, region, main) doesn't exist. This is actually because it is being passed a parameter of None from a new User who does not have the attribute region filled out, so the route is essentially /region/None rather than /region/region. The same holds true for other empty yet required attributes. Clear the database of these types of objects </li>
    <li> optimized /head_to_head, and now checks for query string variable existence first </li>
    <li> /head_to_head form fields now populated with player tags of currently viewed head to head </li>
    <li> /user_create now requests for character main using a dropdown (SelectField) list. optimized forms.py </li>
    <li> added Characters as Model, Secondaries as relationship table between Characters and Users </li>
    <li> fixed User functions for querying and displaying User.secondaries </li>
    <li> revised User-Character functions, updated unit test (tests.py) </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 23, 2015 </h5>
  <ul>
    <li> merged 'versus.html' into 'head_to_head.html', and merged route /versus into /head_to_head so that only head_to_head references exist. Revised template to display head to head history on the same page as the search page, /head_to_head. Fixed bugs regarding head to head displays</li>
    <li> Users now explicitly ordered by user_id in /browse_users. Sets now explicitly ordered by set_id in /browse_sets; sets displayed on user and head to head pages now explicitly ordered by set_id </li>
    <li> changed /region route to /browse_regions for consistency, and changed all related templates and routes to support that </li>
    <li> implemented /browse_characters page where one may view all the game's characters in tier list order, which route to users who play that character </li>
    <li> changed /browse_regions to display all regions currently populated, and changed /region to be the page that actually displays users populating the region. </li>
    <li> added /browse_regions and /browse_characters routes to the base template </li>
    <li> updated all links to properly route to region and character pages </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 22, 2015 </h5>
  <ul>
    <li> fixed bugs in head to head and revised templates; additionally, all sets now link to the match history page between two users </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 21, 2015 </h5>
  <ul>
      <li> added "view_region.html" as a template to view all user from a specific regions, and added a route to view_region </li>
      <li> winner character and loser character are now selected as a dropdown SelectField list rather than a string input </li>
      <li> revised and optimized validation system to ensure legal sets are created </li>
      <li> match_submit now takes variables through URL from /set_create and /match_submit by using a query string on the URL </li>
      <li> implemented head to head page (route /versus) between two users, which currently displays their played sets </li>
      <li> implemented form and head_to_head.html page to allow searching for two users, then redirects to /versus to actually display their set history </li>
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 20, 2015 </h5>
  <ul>
    <li> rendered index "Recent Update" changelog as unordered list</li>
    <li> fixed User query methods from Set</li>
    <li> updated unit test with current database</li>
    <li> updated 'browse_users.html' template to print User representation in HTML given User object, with route hyperlink to user profile </li>
    <li> revised 'browse_sets.html' template to print Set representation in HTML given Set object rather than print a Set object using __str__ method</li>
    <li> updated set to take winner_id and loser_id upon set creation </li>
    <li> allowed set_create form to take score directly as an integer </li>
    <li> updated User methods for querying set to sort by set id (lower number = newer) </li>
    <li> Sets now query and are created with User id based on submitted tag </li>
    <li> stage field for matches during set creation are now entered using a SelectField dropdown menu </li>
    <li> added intelligent "validation" system to ensure legal sets are created </li>
    <li> Created 'match.html' and revised 'set.html' template to import 'match.html' when rendering a set. It now prints Match representation in HTML given Match object rather than print a Match object using the Match __str__ method </li>
    <li> updated 'browse_sets.html' template to display set winner and loser as hyperlink routes to User profiles </li> 
  </ul></div></div>
  </div>

  <div class="col-sm-3 hero-feature">
  <div class="thumbnail"><div class="caption scroll400"><h5> June 19, 2015 </h5>
  <ul>
    <li> Added "region" field to User model </li>
    <li> added support for region in web form, application </li>
    <li> updated User methods for getting won and lost sets </li>
    <li> added type of set (max_match_count) and total matches in set to Set model</li>
    <li> added support for displaying true user profiles, and links from browse users</li>
    <li> defined backrefUser to connect sets with users (not complete)</li>
    <li> implemented intelligent webform for generating correct number of matches when creating a set</li>
    <li> implemented field type of set in set_create form as dropdown menu</li>
    <li> added support for displaying true sets and matches on user profiles</li>
    <li> created matchstats unit test with database clear method</li>
    <li> created production mode 'runp.py' for public use, along with 404 and 500 error templates</li>
    <li> updated 'index.html' to display updates and recent tournaments</li>
    <li> filled database with results from Apex 2015 Top 8</li>
  </ul></div>
  </div>
  </div>

</div>
{% endblock %}
