<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Submit Match</h1>
  <form action="" method="post" name="match_submit">
    {{ form.hidden_tag() }} <!-- this template argument will get replaced with hidden field that enables CSRF prevention in config. -->
    <p>
      Please enter the stage the match was played on: {{ form.match_stage }}<br>
      <br>
      Please enter the match winner: {{ form.match_winner }}<br>
      <br>
      Please enter the winner's character: {{ form.winner_char }}<br>
      <br>
      Please enter the match loser: {{ form.match_loser }}<br>
      <br>
      Please enter the loser's character: {{ form.loser_char }}<br>
      
      <!-- flash error message if user_tag is invalid -->
      {% for error in form.match_stage.errors or form.match_winner.errors or form.match_loser.errors  %}
        <span style="color: red;">[{{ error }}]</span> 
      {% endfor %}<br>
    </p>
    <p><input type="submit" value="Submit Match"></p>
  </form>
{% endblock %}

