{% extends "base.html" %}

{% block content %}
	<div class="container">
		<!-- AJAX Test
		<head>
			<script>
				function loadXMLDoc()
				{
				var xmlhttp;
				if (window.XMLHttpRequest)
				  {// code for IE7+, Firefox, Chrome, Opera, Safari
				  xmlhttp=new XMLHttpRequest();
				  }
				else
				  {// code for IE6, IE5
				  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
				  }

				xmlhttp.onreadystatechange=function()
				  {
				  if (xmlhttp.readyState==4 && xmlhttp.status==200)
				    {
				    document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
				    }
				  }
				xmlhttp.open("GET","url.txt",true);
				xmlhttp.send();
				}
			</script>
		</head>
		-->

		<div class="jumbotron">
			<h1>{{region}}</h1>
			<h2><b>Population:</b> {{current_region.users|length}}</h2>
			<h2><b>Tournament Count:</b> {{current_region.tournaments|length}}</h2>
		</div>

		<!-- Display all Users in Region -->
		<div class="panel panel-default">
		<div class="panel-heading">
			<h2><b>{{current_region.region}}'s Users<b></h2>
		</div>
		<div class="panel-body">
			<table class="table bootstrap-datatable table-hover">
				<thead>
			    <tr>
		        <th class="text-center"><h4><b>User</b></h4></th>
			      <th class="text-center"><h4><b>Region</b></h4></th>
			      <th class="text-center"><h4><b>Main</b></h4></th>
			      <th class="text-center"><h4><b>Rating</b><h4></th>
			      <!-- <th><h4><b>Secondaries</b></h4></th> -->
			    </tr>
			  </thead>

				<tbody>
					<!--
					<div id="myDiv"><h2>Let AJAX change this text</h2></div>
					<button type="button" onclick="loadXMLDoc()">Change Content</button>
					-->

				  {% for user in region_userlist %}
				    {% include 'user_display.html' %}
				  {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Display all Tournaments in Region -->
	<div class="panel panel-default">
	<div class="panel-heading">
		<h2><b>{{current_region.region}}'s Tournaments<b></h2>
	</div>
	<div class="panel-body">
		<table class="table bootstrap-datatable table-hover">
			<thead>
				<tr>
					<th class="text-center"><h4><b>Date</h4></b></th>
					<th class="text-center"><h4><b>Tournament</h4></b></th>
					<th class="text-center"><h4><b>Entrants</h4></b></th>
					<th class="text-center"><h4><b>Region</b></h4></th>
				</tr>
			</thead>

			<tbody>
				{% for tournament in current_region.tournaments %}
					{% include 'tournament_display.html' %}
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>

{% endblock %}
