<!-- prints Set representation in HTML given a Set object -->
<tr><h5><b>
	<td class="col-md-4">
		{% if set.tournament %} 
			<a href="{{url_for("tournament", tournament=set.tournament)}}">{{ set.tournament }}</a>
		{% else %}
			Non-Tourney 
		{% endif %}
	</td>
	<td class="col-md-2 text-right">
		<a href="{{url_for("user", tag=set.winner_tag)}}">{{ set.winner_tag }}</a> 
		({{ set.winner_score }} -
        </td>
        <td class="col-md-2 text-left">
                {{ set.loser_score }}) 
		<a href="{{url_for("user", tag=set.loser_tag)}}">{{ set.loser_tag }}</a> 
	</td>
	<td class="col-md-4 text-right">
  	<a href="{{url_for("head_to_head", tag1=set.winner_tag, tag2=set.loser_tag)}}"> View Head-to-Head</a>
	</td>
</b></h5></tr> 
  <!-- store set.total_matches into variable for use in other templates -->
  {% set total_matches = set.total_matches -%}	
  
  <!-- currently not working with matches -->
  {% set matchlist = [] %}<!--set.matches.all() -%}-->
  <!-- print Match representation in HTML for all Matches in Set -->
  {% for i in range(matchlist|length) %}
    {% include 'match.html' %}
  {% endfor %}
