<!-- prints Set representation in HTML given a Set object -->

<!-- Logic for determining where set.html is included from, for setting up colored rows in table -->
<!-- Sets up colored rows if set.html is included from user.html -->
{% if user %}
	{% if user.tag == set.winner_tag %}
		<tr class="success">
	{% else %}
		<tr class="danger">
	{% endif %}
<!-- Sets up colored rows if set.html is included from head_to_head.html -->
{% elif user1 %}
	{% if user1.tag == set.winner_tag %}
		<tr class="success">
	{% else %}
		<tr class="danger">
	{% endif %}
{% else %}
	<tr>
{% endif %}

<h5><b>
	<td class="col-md-2 mobile-horizontal-overflow-set horizontal-overflow"><b>
		{% if set.tournament_name != "Non-Tourney" %}
			<!-- Currently will not link to tournament header if the header and tournament do not have the same name -->
			<a href="{{url_for("tournament", tournament_header=set.tournament_name, sub_tournament=set.tournament_name)}}">{{set.tournament_name}}</a>
		{% else %}
			{{set.tournament_name}}
		{% endif %}
	</b></td>

	<td class="col-md-3 text-right mobile-horizontal-overflow-set horizontal-overflow">
		<a href="{{url_for("user", tag=set.winner_tag)}}"><b>{{ set.winner_tag }}</b></a>
  	</td>

	<td class="col-md-1 text-center mobile-horizontal-overflow-set horizontal-overflow">
		[{{ set.winner_score }} - {{ set.loser_score }}]
	</td>
        
 	<td class="col-md-3 text-left mobile-horizontal-overflow-set horizontal-overflow">
		<a href="{{url_for("user", tag=set.loser_tag)}}">{{ set.loser_tag }}</a> 
	</td>

	<td class="col-md-2 text-right mobile-horizontal-overflow-set horizontal-overflow">
  		<a href="{{url_for("head_to_head", tag1=set.winner_tag, tag2=set.loser_tag)}}"><b>Head to Head</b></a>
	</td>
</b></h5></tr> 
  <!-- store set.total_matches into variable for use in other templates -->
  {% set total_matches = set.total_matches -%}	
  
  <!-- v2.0 does not have support for matches
  {% for i in range(matchlist|length) %}
    {% include 'match.html' %}
  {% endfor %}
  -->
