<!-- Set Edit Form: Template for editing a Set -->
{% extends "base.html" %}

{% block content %}
  <h1>Edit Set: 
    <!-- print representation of Set without extra formatting from post.html -->
    {% if set.tournament %}
    {{ set.tournament }} - 
    {% else %}
    Non-Tourney - 
    {% endif %}
    {{set.winner_tag}} vs {{set.loser_tag}}: ({{set.winner_score}}-{{set.loser_score}}) {{set.winner_tag}}
  </h1>

  <form action="" method="post" name="edit">

      {{form.hidden_tag()}}
      {% include 'set.html' %}

      <br>
      <br>

      <table>
          <tr>
              <td>Edit Set Type:</td>
              <td>{{ form.edit_max_match_count(size=18) }}</td>
          </tr>
          <tr>
              <td>Edit Set Tournament:</td>
              <td>{{ form.edit_tournament(size=18) }}</td>
          </tr>
          <tr>
              <td>Edit Set Winner:</td>
              <td>{{ form.edit_winner_tag(size=18) }}</td>
          </tr>
          <tr>
              <td>Edit Set Loser:</td>
              <td>{{ form.edit_loser_tag(size=18) }}</td>
          </tr>
          <tr>
              <td>Edit Winner Score:</td>
              <td>{{ form.edit_winner_score(size=18) }}</td>
          </tr>
          <tr>
              <td>Edit Loser Score:</td>
              <td>{{ form.edit_loser_score(size=18) }}</td>
          </tr>
          <tr>
            <td>Edit Match Info?</td>
            <td>{{ form.edit_match_info }}</td>
          </tr>

          {% for error in form.edit_max_match_count.errors or form.edit_tournament.errors or form.edit_winner_tag.errors or form.edit_loser_tag.errors or form.edit_loser_score.errors %} <!-- may be buggy with or statements -->
        <span style="color: red;">[{{ error }}]</span> <!-- flash error message if user_tag is invalid -->
          {% endfor %}

          <tr>
              <td></td>
              <td><input type="submit" value="Save Changes"></td>
          </tr>
      </table>
  </form>
{% endblock %}