{% extends "base.html" %}
{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1> {{ tournament.name }} </h1>

    <h2>
    {% if tournament.game_type %}
      {{ tournament.game_type }}
    {% else %}
      Game Unknown
    {% endif %}
    </h2>

    <h2>
    {% if tournament.date %}
      {{ tournament.date }}
    {% else %}
      Date Unknown
    {% endif %}
    </h2>

    <h2> 
    {% if tournament.entrants != -1 %}
      {{ tournament.entrants }} Player {{ tournament.bracket_type }} 
    {% else %}
      {{ tournament.bracket_type }}
    {% endif %}
    </h2>
  </header>

  <!-- Table for Placements -->
  <div class="panel panel-default">
  <div class="panel-heading">
    <h1><b> Placements </b></h1>
  </div>
  <div class="panel-body">
  <table class="table bootstrap-datatable table-condensed table-hover">
    <!-- Empty header (generates navy-colored divider) -->
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      {% for placing in placement_dict %} 
        {% for tag in placement_dict[placing] %}
          <tr>
            <td class="col-sm-6 text-right"><b> {{ placing }}: </b></td>
            <td class="col-sm-6 text-left"><a href="{{ url_for("user", tag=tag) }}"><b> {{ tag }} </b></a></td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>


  <div class="panel panel-default">
  <div class="panel-heading">
    <h1><b> Sets from {{ tournament.name }} </b></h1>
  </div>
  <div class="panel-body">

  {% if tournament_setlist|length < 1 %}
  	There were no sets found for this tournament.
  {% else %}

  <!-- "Table" Column Titles -->
  <table class="table bootstrap-datatable table-condensed table-responsive table-hover">
    <!-- Empty header (generates navy-colored divider) -->
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

  	<tbody>
      <!-- display all Set in tournament -->
      {% for set in tournament_setlist %}
        {% include 'set.html' %}
      {% endfor %}
  	</tbody>
  </table>

  {% endif %}
  </div>
  </div>
 </div>
{% endblock %}
