{% extends "base.html" %}
{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1> {{ tournament.name }} </h1>
    <h2> {{ tournament.date }} </h2>
    <h2> {{ tournament.entrants }} player {{ tournament.bracket_type }} </h2>
  </header>

  {% for user in tournament.users %}
    {{ user }}
  {% endfor %}

  <div class="panel panel-default">
  <div class="panel-heading">
    <h1><b> Sets from {{ tournament.name }} </b></h1>
  </div>
  <div class="panel-body">

  {% if tournament_setlist|length < 1 %}
  	There were no sets found for this tournament.
  {% else %}

  <!-- "Table" Column Titles -->
  <table class="table bootstrap-datatable table-condensed table-hover">

  	<tbody>
      <!-- display all Set in tournament -->
      {% for set in tournament_setlist %}
        {% include 'set.html' %}
      {% endfor %}
  	</tbody>
  </table>

  {% endif %}
  </div>
  </div>
 </div>
{% endblock %}
