<!-- user_display table header (table column titles) -->
<tr>
  <th class="text-center"><h4><b>User</b></h4></th>
	<th class="text-center"><h4><b>Region</b></h4></th>
	<th class="text-center"><h4><b>Chars</b></h4></th>
	<!-- Disable form to select sort by Main
	{% if form %}
		<form class="navbar-form" action="{{url_for('browse_users')}}" name="CharacterFilter">
	    <h4><b>{{form.character_name(class="form-control", onchange="this.form.submit()")}}</b></h4>
    </form>
  {% else %}
  	<h4><b>Main<b></h4>
	{% endif %}
	-->
	<th class="text-center"><h4><b>Rating</b><h4></th>
	<!-- <th><h4><b>Secondaries</b></h4></th> -->
</tr>