<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <table> <!-- Puts things into a table format neatly -->
    <tr valign="top"> <!-- HTML table with two columns and two rows -->
      <td>
        <h1>User: <a href="{{ url_for ("user", tag=user.tag) }}">{{user.tag}}</a></h1> 

          {% if user.region %}
            <p><b>Region:</b>
            <a href="{{ url_for("region", region=user.region) }}">{{user.region}}</a>
            </p>
          {% else %}
          <p><b>Region: No Region</b></p>
            {% endif %}


          {% if user.main %}
            <p><b>Main:</b>
            <a href="{{ url_for("character", character=user.main) }}">{{user.main}}</a>
            </p>
          {% else %}
            <p><b>Main:</b>
            <a href="{{ url_for("character", character="Unchosen") }}">Unchosen</a>
            </p>
          {% endif %}

          {% if user.secondaries %}
            <p><b>Secondaries:</b> {{ user_secondaries }}</p>
          {% endif %}

      </td>
    </tr>
  </table>

  <hr> <!-- theme change -->
  <h2>{{ user.tag }}'s Set History</h2>
  <!-- print all items in array user_sets (currently each item is a fake set) -->
  {% for set in user_sets %} <!-- user_sets is variable containing the result of user.getAllSets passed from views -->
    {% include 'set.html' %}
  {% endfor %}

{% endblock %}
