{% extends "base.html" %}

{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1><a href="{{ url_for("user", tag=user.tag) }}">{{user.tag}}</a></h1>

    <h3>
      {% if user.region %}
        <b><a href="{{ url_for("region", region=user.region) }}">{{user.region}}</a></b>
      {% else %}
        No Region
      {% endif %}
    </h3>

    <h3><b>Main:</b>
      {% if user.main %}
        <a href="{{ url_for("character", character=user.main) }}">{{user.main}}</a>
      {% else %}
        Unchosen
        <!-- <a href="{{ url_for("character", character="Unchosen") }}">Unchosen</a> -->
        {% endif %}
    </h3>

    <h3>
      {% if user.secondaries %}
        <b>Secondaries:</b> 
          {% if user_secondaries|length > 0 %}
            {{ user_secondaries }} 
          {% else %}
            None
          {% endif %}
      {% endif %}
    </h3>

    <h3>
    <!-- Route to edit User; Not used in this version of Smashstats
    <a href="{{ url_for("user_edit", user=user.tag) }}">Edit User</a>
    -->
    </h3>
  </header>

  <!-- Table for displaying User's Tournament History -->
  <div class="panel panel-default">
  <div class="panel-heading">
    <h2><b> {{ user.tag }}'s Tournament History </b></h2>
  </div>
  <div class="panel-body">
    <table class="table bootstrap-datatable table-condensed table-hover">
      <!-- Empty header (generates navy-colored divider) -->
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>

      {% for tournament in user_placements %}
      <tr>
        <td class="col-sm-6 text-right"><b><a href="{{ url_for("tournament", tournament_name=tournament) }}">{{ tournament }} - </a></b></td>
        <td class="col-sm-6 text-left"><b> {{ user_placements[tournament] }} </b></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  </div>

  <!-- Table for displaying User's Sets -->
  <div class="panel panel-default">
  <div class="panel-heading">
    <h2><b>{{ user.tag }}'s Set History</b></h2>
  </div>
  <div class="panel-body">
    <table class="table bootstrap-datatable table-hover">
      <b><h4 class="text-center">Total Sets: {{ user_sets|length }} | Overall Record: [{{user_wins|length}}-{{user_losses|length}}]</b></h4>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for set in user_sets %}
          {% include 'set.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  </div>
</div>
{% endblock %}
