<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Create User</h1>
  <form action="" method="post" name="user_create"> <!-- difference b/n method="get" -->
    {{ form.hidden_tag() }} <!-- this template argument will get replaced with hidden field that enables CSRF prevention in config. -->
    <p>
      Please enter the user's tag:<br>
      {{ form.user_tag(size=90) }}<br>
      <br>
      Please enter the user's region:<br>
      {{ form.user_region(size=90) }}<br>
      <br>
      Please enter the user's main:<br>
      {{ form.user_main }}<br>
      <br>
      Enter all the user's secondaries; if none, simply leave all the checkboxes blank:<br>
      {{ form.user_secondaries(size=13) }}<br>

      {% for error in form.user_tag.errors and form.user_main.errors %}
        <span style="color: red;">[{{ error }}]</span> <!-- flash error message if user_tag is invalid -->
      {% endfor %}
    </p>
    <p><input type="submit" value="Create user"></p>
  </form>
{% endblock %}
