{% extends "base.html" %}

{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1><a href="{{ url_for("user", tag=user.tag) }}">{{user.tag}}</a></h1>

    <h3>
      {% if user.region %}
        <b><a href="{{ url_for("region", region=user.region) }}">{{user.region}}</a></b>
      {% else %}
        No Region
      {% endif %}
    </h3>

    <h3><b>Main:</b>
      {% if user.main %}
        <a href="{{ url_for("character", character=user.main) }}">{{user.main}}</a>
      {% else %}
        Unchosen
        <!-- <a href="{{ url_for("character", character="Unchosen") }}">Unchosen</a> -->
        {% endif %}
    </h3>

    <h3>
      {% if user.secondaries %}
        <b>Secondaries:</b> 
          {% if user_secondaries|length > 0 %}
            {{ user_secondaries }} 
          {% else %}
            None
          {% endif %}
      {% endif %}
    </h3>

    <h3>
    <!-- Route to edit User 
    <a href="{{ url_for("user_edit", user=user.tag) }}">Edit User</a>
    -->
    </h3>

  </header>
  <hr>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2><b> {{ user.tag }}'s Tournament History </b></h2>
  </div>

  <div class="panel-body">
    <table class="table bootstrap-datatable table-hover">
    </table>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h2><b>{{ user.tag }}'s Set History</b></h2>
  </div>

  <div class="panel-body">
    <table class="table bootstrap-datatable table-hover">
      <thead>
        <tr>
          <th>Total Sets: {{ user_sets|length }} | Record: [{{user_wins|length}}-{{user_losses|length}}]</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for set in user_sets %}
          {% include 'set.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  </div>
</div>
{% endblock %}
